<section class="bg-dark text-white" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Sobre o Sagrada Cruz</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Somos um ministério de música católico que busca levar a palavra de Deus ao coração das pessoas em forma de música. Adoramos. Cremos. Evangelizamos.</p>
            </div>
        </div>
    </div>
</section>