<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div id="welcomeBannerDesktop" class="col-sm-6" style="z-index: 99999; display: none;">
                <div class="sc-header-main">
                    <p>A CRUZ<br />SAGRADA SEJA<br />MINHA LUZ</p>
                    <hr class="white-blue">
                    <div class="sc-header-sub">
                        adorar&nbsp;&nbsp;&nbsp;crer&nbsp;&nbsp;&nbsp;evangelizar
                    </div>
                </div>
            </div>

            <div id="welcomeBannerMobile" class="col-sm-12" style="z-index: 99999; margin-bottom: 90px; display: none;">
                <div>
                    <div class="sc-logo-circle">
                        <img src="~/img/logo.png" style="width: 120px; margin-top: 25px;" />
                    </div>
                    <hr class="light" />
                    <div class="sc-header-main-mobile">
                        <p>A CRUZ SAGRADA SEJA MINHA LUZ</p>
                        <div class="sc-header-sub">
                            adorar&nbsp;&nbsp;&nbsp;crer&nbsp;&nbsp;&nbsp;evangelizar
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sc-next-section">
            <a class="nav-link js-scroll-trigger" style="padding: 0 !important;" href="#about">
                <div class="col-sm-12 text-center">
                    <span class="fas fa-angle-double-down"></span>
                </div>
            </a>
        </div>
    </div>    
    <div class="sc-mask-main"></div>
</header>
