<section id="pray" class="sc-pray-section" style="padding: 1rem 0 !important;">
    <div class="container">
        <h2 class="section-heading text-center" style="color: #eee; margin-top: 13px !important;">Pedido de Oração</h2>
        <hr class="light">
        <br />
        <div class="row">
            <div class="col-sm-6">
                <p style="font-size: 12px; text-align: justify; color: #ddd;">
                    É uma forma de fazer um pedido de oração para que intercedamos por você.
                    Todas as intenções serão colocadas em nossas orações ministeriais e junto
                    ao altar do Senhor durante as celebrações que participamos ao longo do mês.
                </p>
                <br />
                <div class="form-group">
                    <input class="form-control" id="pray_name" placeholder="Nome (Opcional)">
                    <br />
                    <input class="form-control" id="pray_city" placeholder="Cidade">
                    <br />
                    <textarea class="form-control" rows="5" id="pray_message" placeholder="Pedido de Oração"></textarea>
                </div>
                <div class="row">
                    <div class="col-2 text-left">
                        <button class="btn" id="enviaroracao">Enviar</button>
                    </div>
                    <div class="col-10">
                        <p style="font-size: 11px; color: #fff; text-align: right; line-height: 40px;">E Eu vos digo: Pedi, e vos será dado (Lucas 11, 9)</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>