<section id="services">
    @*<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Intercessão</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>*@
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons" style="color: #bdbdbd !important;"></i>
                    <h3 class="mb-3">Adorar</h3>
                    <p class="text-muted mb-0">Hoje somos quem somos pois <b>adoramos</b> Aquele que nos deu a vida. Se estamos aqui é por dobrarmos os joelhos e agradecer.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fas fa-church text-primary mb-3 sr-icons" style="color: #bdbdbd !important;"></i>
                    <h3 class="mb-3">Crer</h3>
                    <p class="text-muted mb-0">A Santa Igreja católica é a razão que faz existir o Sagrada Cruz. Somos jovens que se conheceram na comunidade e fortalecem sua fé no altar da santa missa, <b>crendo</b> no mistério maior de nossa fé.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x far fa-comment-dots text-primary mb-3 sr-icons" style="color: #bdbdbd !important;"></i>
                    <h3 class="mb-3">Evangelizar</h3>
                    <p class="text-muted mb-0">Nossa missão é <b>evangelizar</b>. Levar o evangelho, através da música, àqueles que ainda não conhecem a face de Jesus.</p>
                </div>
            </div>
        </div>
    </div>
</section>