@model List<br.com.sagradacruz.Models.StatementViewModel>

<section class="bg-light" id="statement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="section-heading">Depoimentos</h2>
                <hr class="my-4">
                <div class="row">
                    @if(Model.Count > 0)
                    {
                        @foreach(var item in Model)
                        {
                        <div class="col-sm-3" style="margin-bottom: 15px;">
                            <div class="card">
                                <div class="card-body">                               
                                    @if(item.Content.Length > 50)
                                    {
                                        <p class="card-text text-center" style="font-size: 14px !important;">@item.Content.Substring(0, 50)</p>
                                        <a href="#" style="font-size:10px;">Continuar lendo..</a>
                                    }
                                    else
                                    {
                                        <p class="card-text" style="font-size: 15px !important;">@item.Content</p>
                                    }
                                    <div class="card-footer" style="font-size: 13px !important;">
                                        @item.Author -
                                        @item.CreationDate.ToString("dd/MM/yyyy")
                                    </div>
                                </div>
                            </div>
                        </div>   
                        }

                    }
                    else
                    {
                        <h5>Nenhum depoimento foi encontrado :(</h5>
                    }
                </div>
            </div>
        </div>
    </div>
</section>