@{
    ViewData["Title"] = "Manager";
}

<header class="text-center text-black-50 d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-sm-6">
                <div class="sc-header-main" style="border-color: #232323; margin-top: 70px; " >
                    <p style="color: #232323; text-align: center; margin: 0">SEJA<br />BEM<br />VINDO</p>
                    <hr class="white-blue">
                    <div class="sc-header-sub" style="color: #232323">
                        A cruz sagrada seja nossa luz
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>