@model br.com.sagradacruz.Models.LoginViewModel
@{
    ViewData["Title"] = "Entrar";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sagrada Cruz :: @ViewData["Title"]</title>

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />

    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">    
</head>

<body>
    <div class="sc-login-bg sc-img-responsive">
        <div class="text-sm-center sc-login-logo">
            <a href="/"><img src="~/img/logo.png" class="img-logo" /></a>
        </div>
        <div class="row sc-login-box">
            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                <div class="text-center sc-restrict">
                    <span class="fas fa-user-lock"></span>
                    Acesso Restrito
                </div>
                <form action="/Login/Access" method="post">
                    <!-- Usuario -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input name="User" class="form-control" placeholder="Usuário" value="@Model.User" />
                        </div>
                    </div>

                    <!-- Senha -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input name="Password" class="form-control" placeholder="Senha" value="@Model.Password" type="password" />
                        </div>
                    </div>

                    <!-- Botão -->
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/js/load.js"></script>
</body>
</html>