<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <img src="img/logo.png" class="img-logo">
        <a class="navbar-brand js-scroll-trigger" href="#sc-main">Sagrada Cruz</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars btn-menu-list"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Intercessão</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#social-media">Redes Sociais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#testimony">Depoimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#pray">Pedido de Oração</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Login/Index">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>