@{
    ViewData["Title"] = "Início";
}

<div>
    <img src="~/img/header.jpg" class="sc-img-header sc-img-responsive" />
    <header class="sc-masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-sm-6">
                    <div class="sc-header-main">
                        <p>A CRUZ<br />SAGRADA SEJA<br />MINHA LUZ</p>
                        <hr class="white-blue">
                        <div class="sc-header-sub">
                            adorar&nbsp;&nbsp;&nbsp;crer&nbsp;&nbsp;&nbsp;evangelizar
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
